{% extends 'theatre/theatre_home2.html' %}
{% block body %}

<form method="post" action="/myapp/edit_promotion_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="200" border="1" class="table table-hovered table-bordered table-stripped">

        <tr>
            <input type="hidden" name="id" value="{{ data.id }}">
            <td>Type</td>
            <td><select name="movie" class="form-control">
                    <option hidden value="{{ data.type }}">{{ data.type }}</option>
                    <option value="video">Video</option>
                    <option value="image">Image</option>
                </select></td>
        </tr>
        <tr>
            <td>Promotion</td>
            <td><textarea name="promotion"  class="form-control">{{ data.promotion }}</textarea></td>
        </tr>
        <tr>
            <td>Filename</td>
            <td><input type="file" name="filename" class="form-control" >
            <img src="{{ data.filename }}" width="200px" height="200px">
            </td>
        </tr> <tr>

            <td></td>
            <td><input type="submit" value="Update" class="btn btn-success" ></td>
        </tr>
    </table>
</form>

{% endblock %}