{% extends 'theatre/theatre_home2.html' %}
{% block body %}




<form  action="/myapp/theatre_change_password_post/" method="post">
{% csrf_token %}
  <div class="container">

          <div class="container-lg">
  <div class="mx-auto col-10 col-md-8 col-lg-6 my-3">
<h1 class="text-center my-3" >CHANGE PASSWORD</h1>
      <hr>

<table border="1" class="table table-hover table-bordered table-stripped">
       <tr>
           <td> <label for="uname"><b>Old Password</b></label></td>
           <td>    <input type="text" class="form-control" placeholder="Enter Old Password" name="old_password" required class="text-center"></td>
       </tr>

   <tr>
        <td><label for="psw"><b>New Password</b></label></td>
        <td><input class="form-control" type="password" placeholder="Enter New Password" name="new_password" required class="text-center"></td>
   </tr>

       <tr>
           <td> <label for="psw"><b>Confirm Password</b></label></td>
           <td>    <input class="form-control" type="password" placeholder="Enter Confirm Password" name="con_password" required class="text-center"></td>

       </tr>

   <tr>
       <td></td>
       <td><input type="submit"  value="submit" class="btn btn-success "></td>
   </tr>
   </table>
 </div>



</form>

{% endblock %}