<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/theatre_profile/"> Profile</a>
<a href="/myapp/theatre_view_movies/">theatre_view_movies</a>
<a href="/myapp/add_screen/">add_screen</a>
<a href="/myapp/theatre_view_screen/">theatre_view_screen</a>
<a href="/myapp/add_time_shedule/">add_time_shedule</a>
<a href="/myapp/view_shedule/">view_shedule</a>
<a href="/myapp/theatre_review/">theatre_review</a>
<a href="/myapp/theatre_Movie_review/">view movie review</a>
<a href="/myapp/view_user_booking/">view_user_booking</a>
<a href="/myapp/theatre_change_password/">theatre_change_password</a>
<a href="/myapp/add_promotion/">add_promotion</a>
<a href="/myapp/view_promotion/">view_promotion</a>

</body>
</html>