<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_change_password/">Change password</a>
<a href="/myapp/view_premium_users/">Premium Users</a>
<a href="/myapp/view_theatre/">Theatre</a>
<a href="/myapp/view_aproved_theatre/">view_aproved_theatre</a>
<a href="/myapp/view_reject_theatre/">view_reject_theatre</a>
<a href="/myapp/view_user/">view_user</a>
<a href="/myapp/view_theatre_review/">view_theatre_review</a>
<a href="/myapp/movie_review/">movie_review_post</a>
<a href="/myapp/view_complaint/">view_complaint</a>
<a href="/myapp/add_movie/">add_movie</a>
<a href="/myapp/view_movies/">view_movies</a>

</body>
</html>