{% extends 'admin/admin_home2.html' %}
{% block body %}
<form method="post" action="/myapp/view_user_post/">
    {% csrf_token %}
<table border="1" class="pull-left table table-hover table-bordered table-stripped ">
        <tr>
            <td><input type="text" name="search" placeholder="Enter User Name  " class="form-control"></td>
            <td><input type="submit" value="Search" class="btn btn-success"></td>
        </tr>

    </table>
<table border="1" class=" table table-hover table-bordered table-stripped ">
         <tr>
             <td>Sl No</td>
             <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Status</td>

        </tr>

        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <img src="{{ i.image }}" width="200px" height="200px"><br>
                {{ i.name }}
            </td>
            <td>{{ i.email  }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.status }}</td>

        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}