<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <form method="post" action="/myapp/add_theatre_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="200" border="1" class="table table-hovered table-bordered table-stripped">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" class="form-control" minlength="4"  required></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><input type="text" name="place" class="form-control" minlength="4" pattern="[a-zA-Z]+" required></td>
        </tr>
        <tr>
            <td>Pin</td>
            <td><input type="number" name="pin" pattern="[1234566789][0-9]{5}" class="form-control"  maxlength="6" required></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" name="city" class="form-control" minlength="4" pattern="[a-zA-Z]+" required></td>
        </tr> <tr>
            <td>Owner Name</td>
            <td><input type="text" name="ownername" class="form-control" minlength="4" pattern="[a-zA-Z]+" required></td>
        </tr>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" pattern="[6789][0-9]{9}" class="form-control"  required></td>
        </tr>
        <tr>
            <td>Photo</td>
            <td><input type="file" name="photo1" class="form-control"  required></td>
        </tr>
        <tr>
            <td>Established</td>
            <td><input type="text" name="established"  class="form-control" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" class="form-control"  required></td>
        </tr>
        <tr>
            <td>Working Time</td>
            <td><input type="time" name="working_time" class="form-control"  required></td>
        </tr>
        <tr>
            <td>About</td>
            <td><input type="text" name="about" class="form-control"  required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required></td>
        </tr><tr>
            <td>Confirm Password</td>
            <td><input type="password" name="confirm" class="form-control"  required></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="submit" class="btn btn-success" ></td>
        </tr>

    </table>

</form>

    </div>
</div>

</body>
</html>


